*************CLEARFIX**************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.cf:before, .cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}

/**************GENERAL**************/

html, body {
  height: auto;
}

.main-container {
  width: 500px;
  height: auto;
  border-radius: 5px;
  background: #fff;
  margin: 0 auto;
  position: relative;

  -webkit-box-shadow: 1px 5px 33px -11px rgba(65, 66, 66, 0.75);
  -moz-box-shadow: 1px 5px 33px -11px rgba(65, 66, 66, 0.75);
  box-shadow: 1px 5px 33px -11px rgba(65, 66, 66, 0.75);

}

/**************HEADER**************/

header {
  margin: 0 auto;
  width: 100%;
  height: 71px;
  border-radius: 5px 5px 0 0;
  background: #414242;
  border-bottom: 1px solid #EEECEC;
 /* display: inline-block;*/
  overflow: hidden;

}

#search-icon {
  float: left;
  margin-top: 12px;
  margin-right: 6px;
  padding-left: 63px;
  width: 38px;
  height: 46px;
  text-indent: -9999px;
  background: url('images/images.png') no-repeat -16px -132px;
}

#logo {
  float: left;
  font-size: 40px;
  color: #fff;
  font-family: 'Sofia', cursive;
  padding-left: 95px;
  margin-top: 1px;
  text-transform: lowercase;
  font-weight: 100;
}

#add-new-icon {
  float: right;
  margin-top: 15px;
  margin-right: -29px;
  padding-left: 71px;
  width: 36px;
  height: 39px;
  text-indent: -9999px;
  background: url('images/images.png') no-repeat -100px -34px;
}

#add-new-icon.hover {
  float: right;
  margin-top: 15px;
  margin-right: -29px;
  padding-left: 71px;
  width: 36px;
  height: 39px;
  text-indent: -9999px;
  background: url('images/images.png') no-repeat -206px -34px;
 }

/**************MAIN LIST**************/


#list-nav {
   margin: -3px 0 0 0;
   height: auto;
   background-color: #fff;
}

#list-nav li {
  list-style: none;
  width: 500px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  color: #00a8e4;
  text-indent: 20px;
  padding: 14px 0px 0 0px;
  display: inline-block;
}

.checkbox {
  background: url('images/images.png') no-repeat -32px -339px;
  margin-top: 15px;
  margin-left: -48px;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  text-indent: -9999px;
}

.new-list-item {
  display: inline-block;
  margin-left: -14px;
}

.remove {
  background: url('images/images.png') no-repeat -32px -444px;
  display: inline-block;
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 14px;
  margin-right: 62px;
  text-indent: -9999px;

}

.list-tag-item {
  font-family: 'Muli', sans-serif;
  list-style: none;
  width: 382px;
  margin: -8px 0 -11px -6px;
  height: 24px;
  font-size: 15px;
  text-transform: lowercase;
  color: #414242;
  background: url('images/images.png') no-repeat -210px -346px;
  display: inline-block;
  text-indent: 63px;
  float: left;
 }

.completed {
  text-decoration: line-through;

}

.completed .checkbox {
  background-position: -133px -339px;
  margin-left: -41px;
  width: 37px;
  height: 30px;
}


/**************ADD NEW**************/
#add-new-container {
  width: 100%;
  background-color: #fff;
  display: none;
  position: absolute;
  z-index: 10;
  -webkit-box-shadow: 1px 5px 33px -11px rgba(65, 66, 66, 0.75);
  -moz-box-shadow: 1px 5px 33px -11px rgba(65, 66, 66, 0.75);
}

#new-firsts {
  width: 100%;
  height: 73px;
  border: 1px solid #414242;
  display: inline-block;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  color: #4142426;
  text-indent: 27px;
}

*:focus {
    outline: 0;
}

.tag-icon-plus {
  display: inline-block;
  width: 30px;
  height: 38px;
  background: #fff url('images/images.png') no-repeat -238px -237px;
  text-indent: -9999px;
  margin-left: 0;
}

.input-tag {
  font-family: 'Muli', sans-serif;
  font-weight: 300px;
  font-size: 15px;
  display: inline-block;
  text-indent: 75px;
  background: #fff url('images/images.png') no-repeat -238px -337px;
  width: 100%;
  height: 38px;
  background-color: #fff;
  border: 1px solid #414242;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-transform: lowercase;
  display: none;
  margin: 6px 0 0 0;
}

.new-tag-plus {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-transform: lowercase;
}

#save-button {
 float: right;
 width: 68px;
 height: 26px;
 font-family: 'Muli', sans-serif;
 font-weight: 400;
 text-transform: uppercase;
 color: #414242;
 font-size: 18px;
 margin: 11px 0 0 0;
 background: #fff;
 border: 1px solid #414242;
 display: inline-block;
}

#save-button:hover {
  float: right;
  width: 68px;
  height: 26px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #aece24;
  font-size: 18px;
  margin: 11px 0 0 0;
  background: #fff;
  border: 1px solid #414242;
  display: inline-block;
}

fieldset {
  border: none;
}
